.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btns-abm{
  display: none;
  /* float: right !important; */
}
.list-friends{
  display: none;
  /* float: right !important; */
}
.btns-abm a{
  margin-right: 6%;
}
.btns-abm p{
  margin-bottom: 2%;
}
.friend:hover .btns-abm{
  /* .btns-abm{ */
      display: block;
  
  /* } */
}
.birthday:hover .list-friends{
  /* .btns-abm{ */
      display: block;
  
  /* } */
}
.margin-auto{ 
  margin-right: auto;
  margin-left: auto;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
